.boton{
    width: 100% ;
    height: 40px;
    justify-content: center;
    position: relative;
    line-height: normal;
    border:  1px solid rgba(43, 187, 173, 0.4);
    background-color: white;
    border-radius: 2px;
    display: inline-block !important;
    font-size:  13.3333px !important;
    color: #606366;
    overflow: visible; /* ie */
    padding: 3px !important;
    border-radius: .28571429rem;
    font-weight: 700;
}

.boton:hover{
    color: #282829;
    background-color: rgba(23, 209, 190,0.4);
    border:  1px solid #d1e3fa;
    cursor: pointer;
}

.boton:focus{
    color: black;
    background-color: #f2f7fe;
    border:  1px solid #d1e3fa;
}

.imagenGoogle{
    width: 18px;
    height: 18px;
    margin-right: 2%;
    vertical-align: middle;
}

