
/*Segment banner contactanosSectionOne */
.contactanos{
    margin-top: 100px  !important;
    font-family: 'Lato', Helvetica Neue,Arial,Helvetica,sans-serif;
    /*bottom: 100px !important;
    background: url('/images/fondo.svg') no-repeat bottom;*/
}

#contactanosSectionOne{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('/images/JP_10.webp') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    justify-content: center;
    text-align: center;
    align-content: center;
    
}

.contactanosSectionOneTitle{
    color: white;
    font-size: 5rem;
    text-transform: capitalize;
  
  }
  
  .contactanosSectionOneSubtitulo{
    color: white;
    font-size: 1.4rem;
  }
/*
  @media(max-width:992px){
   .contactanosTitle{
       font-size: 30px;
   }
   .contactanosSectionOneTitle{
     font-size: 40px;
   }
   .contactanosSectionOneSubtitulo{
     font-size: 14px;
   }
   }*/

 /*Segment contactanosSectionTwo*/  
 .ui.vertical.segment.contactanosSectionTwo{
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  padding: 0 0 1% 0;
  }

  .ui.ui.segment .canalesComunicacion{
    border: 1px dashed;
    padding: 0;
    margin-right: 10%;
    margin-top: 12%;
  }

  .ui.segment .contactanosCorreo, .ui.segment .contactanosCelular{
    display: flex;
    align-items: center;
    color:#00aae4;
    margin-left: 15%;
  }

  .parrafoCorreo, .parrafoCelular{
    font-size: 1.3em;
    font-weight: bold; 
    margin-left: 20px;
    color: black
  }

  .ui.segment.segmentosSinEstilos{
    border: none;
    box-shadow:none;
  }
  
  /*ESTILOS APARTADO DE GOOGLE*/
  .ui.segment.segmentSinMargenInferior{
    margin-bottom: 0 !important;
  }

  .formularioCorreo{
    margin: auto;
    padding: 5%;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
  }

  .parrafodejarOpinion{
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
  }

  @media(max-width:600px){
    .contactanosSectionOneTitle{
      font-size: 4rem;
    }
    .contactanosSectionOneSubtitulo{
      font-size: 1.3rem;
    }
    .NosotrosTitle{
      font-size: 2.6rem;
    }
    .NosotrosIntroduccion{
      font-size: 1.1rem;
    }
    .nosotrosServices{
      height: auto;
  }
  }

  @media(max-width:990px){
    .ui.vertical.segment.contactanosSectionTwo{
      padding-bottom: 2%;
    }
  }
  
 .ui.form.formularioCorreo a {
    background-color: var(--primary-color);
    padding: 0.8rem 2rem 0.8rem 2rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    cursor: pointer;
    background: var(--primary-color);
    color: white;
    display: inline-block;
  }
