/* h3 */
.dark-theme h3.ui.header, 
.dark-theme h4.ui.header {
    color: var(--first-color);
}

/* Inputs*/
.dark-theme .ui.form input {
    background-color: var(--input-color) !important;
    color: var(--text-color) !important;
}

.dark-theme .ui.form textarea {
    background-color: var(--input-color) !important;
    color: var(--text-color) !important;
}

/* Validaciones inputs */
.dark-theme .ui.pointing.red.basic.label {
    background-color: var(--input-color) !important;
    border-color: var(--text-color) !important;
    color: var(--text-color) !important;
}