/* h3 */
.dark-theme h3.ui.header, 
.dark-theme h4.ui.header {
    color: #fff;
}

/* Inputs*/
.dark-theme .ui.form input {
    background-color: var(--input-color) !important;
    color: var(--text-color) !important;
}

.dark-theme input, .dark-theme .ui.label.label  {
    background-color: var(--input-color) !important;
    color: var(--text-color) !important;
}

.dark-theme .ui.form label {
    color: var(--text-color) !important;
}

.dark-theme .ui.form textarea {
    background-color: var(--input-color) !important;
    color: var(--text-color) !important;
}

/* Validaciones inputs */
.dark-theme .ui.pointing.red.basic.label {
    background-color: var(--input-color) !important;
    border-color: var(--text-color) !important;
    color: var(--text-color) !important;
}

/* Validaciones informe consumo */
.dark-theme .tipInfo{
    box-shadow:  none; 
    background: var(--input-color) !important;
    color: var(--text-color) !important;
}

.dark-theme .tipEnlaces{
    color: var(--text-color) !important;
}

.dark-theme .containerInfo table, 
.dark-theme .containerInfo h5, 
.dark-theme .containerInfo .valoresConsumoTitle,
.dark-theme .containerInfo .rangoFechas{ 
    color: var(--text-color) !important;
}

.dark-theme .valorMonetario{
    color: var( --first-color-alt) !important;
}

/* Validaciones loading */

.dark-theme .carga .ui.inverted.dimmer{
    background-color: var(--body-color) !important;  
}

.dark-theme .carga .ui.inverted.dimmer .ui.loader{
    color: white;
}

/* Validacion datos importantes */

.dark-theme .datosImportantesListItem-container {
    background-color: var(--input-color);
}

.dark-theme .datosImportantesItem-title{
    color: var(--text-color) !important;
}

.dark-theme .crearDato-botonRegresar{
    background-color: var(--first-color-second);
}

.dark-theme .crearDato-botonRegresar:hover{
    background-color: var(--input-color);
}

.dark-theme .paginationBttns a{
    color : var(--text-color) !important;
    border: 1px solid var(--input-color);
}

.dark-theme .paginationBttns a:hover{
    color :  white;
    background-color: var(--input-color);
}

.dark-theme .paginationActive a{
    background-color: var(--input-color);
}

.dark-theme .ui.modal.modalEliminarDato .ui.icon.header,
.dark-theme .ui.modal.modalEliminarDato .content,
.dark-theme .ui.modal.modalEliminarDato .actions{
    color : var(--text-color) !important;
    background: var(--body-color) !important;
}

.dark-theme .ui.modal.modalEliminarDato>.header{
    border-bottom: 2px solid rgba(255,255,255,0.1);
}

.dark-theme .ui.modal.modalEliminarDato>.actions{
    border-top: 2px solid rgba(255,255,255,0.1);
}


.dark-theme .ui.modal.modalEliminarDato .ui.black.button{
    color : white !important;
    background: #999999 !important;
    box-shadow: 0 0 0 0 1px var(--first-color-second) !important;
}

.dark-theme .ui.modal>:last-child{
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
}


.dark-theme .enlace-container{
    background-color: rgba(85, 151, 173, 0.2);
    box-shadow:  none; 
}