  /* Grafica Circular
   */
  .anchoGraficaCircular{
    width: 35%;
    justify-content: center !important;
    text-align: center !important;
    margin: 5px auto 15px auto;
}

.informacionGraficaCircular{
    font-family: 'Lato', Helvetica Neue,Arial,Helvetica,sans-serif !important;
    margin: 30px auto auto auto;
    width: 300px;
    text-align: left;
}

.informacionGraficaCircular p{
    display: inline-block;
    width: 50%; 
}

/* Grafica de Barras */
.inputGraficaBarras{
    margin: auto 5px auto 5px;
    width: auto;
}

.botonGraficas{
    margin: 3px auto 6px auto !important;
    background: var(--primary-color-dark) !important;
    color: white !important;
}

.rangoFechas{
    font-size: 1rem;
    text-transform: uppercase;
    color: #405266;
}

/* Valores de Consumo y Grafica Circular */
.valorMonetario{
    color: rgb(31 68 133);
    font-weight: 600;
}

/* Valores de Consumo */
.valoresConsumoTitle{
    text-transform: capitalize;
    color: #405266;
   
}

/* Grafica de Barras, Circular y Valores */
.containerInfo h5{
    font-size: 1.45rem;
    font-family: 'Lato', Helvetica Neue,Arial,Helvetica,sans-serif !important;
}

@media(max-width:450px){
    .anchoGraficaCircular{
        width: 65%;
    }
}

@media(width:768px){
    .containerInfo{
        margin-top: var(--header-height);
    }
}

@media(max-width:768px){
    .fechasGraficaBarras{
        display: block !important;
    }
    .inputGraficaBarras{
        width: 100% !important;
        margin: 2px !important;
    }
    .botonGraficaBarras{
        margin: 3px auto 6px auto !important;
    }
}

@media(max-width:992px){
    .informacionGraficaCircular{
         max-width: 320px;
    }
}