.informeConsumo{
    font-family: 'Lato', Helvetica Neue,Arial,Helvetica,sans-serif !important;
    width: 95% !important;
    margin: auto !important;  
}

.carga{
  width: 100vw;
  height: 100vh;
  background-color: transparent !important;
}

.informeConsumoMin{
  width: 100%;
  border-radius: 20px;
  background: #ffffff;
  padding: 5px !important;
  margin-bottom: 30px !important; 
  justify-content: center !important;
  text-align: center !important;
  font-family: 'Lato', Helvetica Neue,Arial,Helvetica,sans-serif !important; 
}

.informeConsumoMax{
    width: 100%;
    border-radius: 20px;
    background: #ffffff;
    padding: 5px !important;
    margin-bottom: 30px !important;
    text-align: center;
    font-family: 'Lato', Helvetica Neue,Arial,Helvetica,sans-serif !important; 
}

/* Tips */
.tipsTitle{
  color: rgb(31 68 133)
}

.tipInfo{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background: #edf2fb !important;
  box-shadow:  5px 5px 20px #e8e8e8, 
                -5px -5px 20px #ffffff; 
  color: rgb(31 68 133);
  padding: 10px 10px 20px 10px !important;
  border-radius: 10px;
  min-height: 150px;
}

.tipInfo-title{
  font-weight: bold;
}

.tipInfo-description{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: initial;
}

.tipFuentes{
  text-align: left;
  display: inline-block;
  margin-left: 0;
  margin-right: 0.5rem;
}

.tipEnlaces{
  margin-right: 0.3rem;
  color: #08213a !important;
  font-weight: 300;
}

/* opciones flotantes */
.botonFlotante{
   display: none;
}

.informeConsumoOpciones{
    position:fixed;
    right:23px;
    bottom:23px;
    padding-top:15px;
    margin-bottom:25px;
    z-index:997
  }

  .botonPrincipal{
    display:inline-block;
    color:#fff;
    background: #0088b6;
    position:relative;
    overflow:hidden;
    z-index:1;
    width:40px;
    height:40px;
    line-height:20px;
    padding:0;
    border:none;
    border-radius:100%;
    -webkit-transition:background-color .3s;
    transition:background-color .3s;
    cursor:pointer;
    vertical-align:middle;
    text-align: center;
  }
  
  .botonPrincipal span .icon{
    font-size: 20px;
    margin: 0 !important;
    transition:.5s;  
  }

  .btnsIC span .icon{
    font-size: 20px;
    margin: 0 !important;
    transition:.5s;  
  }

  .botonPrincipal:hover span{
    transform:rotate(360deg);
  }
  
  .botonPrincipal:active{
    transform:scale(1.1);
  }

  .btnsIC{
    display:inline-block;
    color:#FFF;
    background: #0088b6;
    position: absolute;
    overflow:hidden;
    width:40px;
    height:40px;
    line-height: 20px;
    padding: 0 !important;
    border:none;
    border-radius:100%;
    text-align: center !important;
    justify-content: center !important;
    cursor:pointer;
    vertical-align:middle; 
    right:0;
    bottom:0;
    transform: scale(0) ;
    font-weight: 0;
  }

  .botonVerGraficas{
    margin-bottom:50px;
    transition:0.5s;
  }

  .botonVerValores{
    margin-bottom:100px;
    transition:0.7s;
  }
 
  .informeConsumoAnimacion{
    transform:scale(1);
  }

  /* responsive */
@media(max-width:992px){
    .informeConsumoMax{
        display: none;
    }
  
    .botonFlotante{
        display: block;
    }

}