.hogaresOcultos {
    display: none;
}

.mostrarHogares {
    /* Animaciones de aparición */
    display: flex;
}

.dark-theme .contenedorHogares {
    background-color: var(--input-color) !important;
}

.dark-theme .contenedorHogares .ui.header {
    color: var(--text-color) !important;
}

.dark-theme .hogares__accordion {
    background-color: var(--input-color) !important;
}

.dark-theme .ui.styled.accordion .title {
    color: var(--text-color) !important;
}

.contenedorHogares #tarjetaHogares:hover {
    cursor: pointer;
}