/** HEADER */
.menu__privado.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  border-bottom: 2px solid var(--first-color);
}

.container-menu-nav {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid-menu-nav {
  display: grid;
  gap: 1.5rem;
}

.show-menu {
  bottom: 0 !important;
}

.active-link {
  color: var(--first-color);
}

/* Change background header */

.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
}

/*========== Button Dark/Light ==========*/

.nav__btns {
  display: flex !important;
  align-items: center !important;
}

.change-theme {
  font-size: 1.25rem !important;
  color: var(--title-color);
  margin-right: var(--mb-1) !important;
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}

/* For small devices */

@media screen and (max-width: 350px) {
  /** MENÚ */
  .nav__menu {
    padding: 2rem .25rem 4rem !important;
  }
  .nav__list {
    column-gap: 0 !important;
  }
}

/* For medium devices */

@media screen and (min-width: 768px) {
  .header {
    top: 0 !important;
    bottom: initial !important;
    padding: 0 1rem;
  }
  .nav__icon, .nav__close, .nav__toggle {
    display: none !important;
  }
  .nav__list {
    display: flex;
    column-gap: 2rem;
  }
  .nav__menu {
    margin-left: auto;
  }
  .change-theme {
    margin: 0px !important;
  }
}

/** fgjkhasgfikshabgsa*/

.nav {
  max-width: 968px !important;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, .nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav__logo {
  font-size: 1.1rem;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

/* For medium devices */

@media screen and (min-width: 768px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem) !important;
    column-gap: 1rem !important;
  }
}

/** NAV MENU */

.nav__menu {}

ul.nav__list.grid-menu-nav {
  padding: 0px;
  margin: 0px;
}

.nav__list {
  list-style-type: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem !important;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem !important;
  cursor: pointer;
  color: var(--first-color);
}

.nav__close:hover {
  color: var(--first-color-alt);
}

/** For small devices */

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}