/*---ESTILOS MENU FLOTANTE---*/
/*nav{
  background-color: white;
}*/

.navigation{
position:fixed;
top:0px;
width:100%;
height:103%;
background:var(--primary-color);
z-index:200;
clip-path:circle(25px at calc(64px) 45px);
transition:all 300ms ease-in-out;
}

.navigation.active{
clip-path:circle(75%);
left: 0px !important;
background:var(--primary-color);
position: fixed;
color: white;
height: 105%;
}

.navigation .ham-btn{
position:absolute;
top:19px;
left:39px;
width:50px;
height:50px;
border-radius:50%;
cursor:pointer;
}

.navigation .ham-btn span{
position:absolute;
right:0%;
transform:translate(-50%,-50%);
width:50%;
height:2px;
background: white;;
transition:all 200ms ease-in-out;
}

.navigation .ham-btn span:nth-child(1){
top:30%;
}

.navigation .ham-btn span:nth-child(2){
top:50%;
}

.navigation .ham-btn span:nth-child(3){
top:70%;
}

.navigation.active .ham-btn span:nth-child(1){
top:50%;
transform:translate(-50%,-50%) rotate(45deg);
background: white;
}

.navigation.active .ham-btn span:nth-child(2){
display:none;
background: white;
}

.navigation.active .ham-btn span:nth-child(3){
top:50%;
transform:translate(-50%,-50%) rotate(-45deg);
background: white;
}

.navigation .links{
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}

.navigation .links a{
position:relative;
display:inline-block;
margin:20px 0px;
font-size:20px;
font-weight:600;
text-decoration:none;
color:white;
text-transform:uppercase;
letter-spacing:5px;
}

.navigation .links a:after{
content:"";
position:absolute;
left:0px;
bottom:-10px;
height:2px;
width:0%;
background: white;;
transition:all 300ms ease-in-out;
}

.navigation .links a:hover:after{
width:100%;
}

@media only screen and  (min-width:601px) and (max-width:992px){
  /*.navigation{
    left: 44px;
  }*/

  .nombreProyecto{
    position: absolute;
    left: 12%;
  }
}
/*FIN ESTILOS MENU FLOTANTE---*/

/*---ESTILOS MENU BARRA SUPERIOR TRANSPARENTE--- */
.banner-superior{
  position: absolute;
    right: 40px;
    top: 20px;
    z-index: 9;
    background: transparent;
    width: 420px;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-lista{
  list-style-type: none;
  background: transparent;
}

nav.banner-superior .banner-lista{
 display: flex;
 justify-content: flex-end;
 background-color: transparent;
}

.banner-lista li{
  margin-left: 50px;
  background: transparent;
}

.banner-lista li a{
color: white;
}

@media only screen and  (min-width:0px) and (max-width:499px){
  .banner-lista li a{
    display: none;
  }
}

/*---FIN ESTILOS MENU BARRA SUPERIOR TRANSPARENTE---*/

*{

  box-sizing:border-box;
}
.body{
  background:#000;
  min-height:200vh;
}
header.menuPublico {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  transition:0.6s;
  padding:40px 100px;
  z-index:1;
  /*transition-property: display;
  transition-duration: 1s;
  transition-timing-function: ease;*/
}

header.menuPublico.sticky{
  padding: 5px 100px;
  background: var(--primary-color);
  transform:translate(0px, -60px) ;
} 

header.menuPublico .logo{
  position:relative;
  font-weight:700;
  font-size:2em;
  text-decoration:none;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:2px;
  transition:0.6s;
}

header.menuPublico ul{
  position: relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

header.menuPublico ul li{
  position:relative;
  list-style:none;
}

header.menuPublico ul li a{
  position:relative;
  margin:0 15px;
  text-decoration:none;
  color:#fff;
  letter-spacing:2px;
  font-weight:500;
  transition-property: all;
  transition:0.6s;
  font-size: 1.2em;
}
.banner{
  position:relative;
  width:100%;
  height:100vh;
  background:blue;
  background-size:cover;
}

header.menuPublico ul li a:hover{
  font-size: 1.5em;
  font-weight: bold;
}

@media(min-width:0px) and (max-width:767px){
  header.menuPublico ul li a{
    display: none;
  }
  
  header.menuPublico{
    padding-top: 50px;
    margin-bottom: 5%;
  }
}

header.menuPublico ul li i:hover{
  font-size: 1.5em !important;
  font-weight: bold;
}

header.menuPublico .moon.outline.icon.change-theme{
  color: white;
}

header.menuPublico ul li i {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    -moz-transition-property: all;
    transition-property: all;
    -moz-transition: 0.6s;
    transition: 0.6s;
    font-size: 1.2em;
}
