#nosotrosSectionOne{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('/images/JP_9.webp') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    justify-content: center;
    text-align: center;
    align-content: center;
    
}

.Nosotros{
  margin-top: 100px  !important;
  font-family: 'Lato', Helvetica Neue,Arial,Helvetica,sans-serif;

}

.nosotrosSectionOneTitle{
  color: white;
  font-size: 5rem;
  text-transform: capitalize;

}

.nosotrosSectionOnePhrase{
  color: white;
  font-size: 1.4rem;
}

.nosotrosSectionTwo{
  justify-content: center !important;
  text-align: center !important;
  align-content: center;
  height: 300px;
  margin-top: 50px !important;
  padding: 0 !important;
}

.nosotrosSectionBoton{
    /* background: url('/images/JP_9.webp') no-repeat cover !important; */
    height: 200px;
    justify-content: center;
    text-align: center;
}

.nosotrosSectionBoton p{
    margin: 10px auto 20px auto;
    font-size: 1.5rem;
}
 

.NosotrosTitle{
    font-size: 3.6rem;
    margin: 90px 10% 20px 10%;
    text-transform: capitalize;
  
}

.NosotrosIntroduccion{
    font-size: 1.2rem;
    text-align: left;
    margin: 10px 10% 10px 10% !important;
    
    justify-content: center;
}

.centrar{
    justify-content: center !important;
    text-align: center !important;
    align-items: center;
} 

.tituloH4{
    color: #000000;
}

.nosotrosServices{
    background: var(--primary-color-dark)  !important ;
    height: 400px;
    text-align: center;
    justify-content: center;
    align-items: center !important;
    color: white;
    display: flex;
}

.nosotrosServicesItems{
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.nosotrosServicesIcons{
  margin-bottom: 30px !important;
}

.posicionImagen{
    margin-top: 80px;
}

.boton {
   font-family: 'Lato', Helvetica Neue,Arial,Helvetica,sans-serif; 
    border: 2px solid var( --primary-color) !important;
    text-transform: uppercase !important;
    background: none;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    transition: color 0.4 linear;
    color: var( --primary-color-dark);
    margin-bottom: 30px !important;
    cursor: pointer !important;
}

.boton:hover{
    color: #fff !important;
    
}

#buttonEmpiezaAhora::before {
    color: #fff !important;
    content:'';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: var( --primary-color) ;
    transition: all 1s ease;
    z-index: -1;
}

#buttonEmpiezaAhora:hover::before {
    width: 100%;
}

/* Nuestro equipo */

  .intro {
    justify-content: center !important;
    text-align: center !important;
    margin: 0 auto;
  }

   .intro h2 {
    font-family: 'Lato', Helvetica Neue,Arial,Helvetica,sans-serif; 
    margin: 30px;
    padding-top: 20px;
    color: inherit;
    text-transform: capitalize;
    
  }
   
  .people {
    padding: 20px 0 !important; 
  }
  
  .items {
    margin-bottom: 40px !important;
  }
  
  .items .box {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 280px;
    position: relative;
    overflow: hidden;
  }
  
 .items .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31,148,255,0.75);
    transition: opacity 0.15s ease-in;
    opacity: 0;
    padding-top: 80px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
  }
  
  .items:hover .cover {
    opacity: 1;
  }
  
 .items .name {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
 .items .title {
    text-transform: uppercase;
    font-weight: bold;
    color: #bbd8fb;
    letter-spacing: 2px;
    font-size: 13px;
    margin-bottom: 20px;
  }
  
   .social {
    font-size: 18px;
  }
  
   .social a {
    color: inherit;
    margin: 0 10px;
    display: inline-block;
    opacity: 0.7;
  }
  
   .social a:hover {
    opacity: 1;
  }
  

@media(max-width:600px){
  .nosotrosSectionOneTitle{
    font-size: 4rem;
  }
  .nosotrosSectionOnePhrase{
    font-size: 1.3rem;
  }
  .NosotrosTitle{
    font-size: 2.6rem;
  }
  .NosotrosIntroduccion{
    font-size: 1.1rem;
  }
  .nosotrosServices{
    height: auto;
}
}

    
@media (max-width:767px) {
  .intro h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    
  }
}

  
@media(max-width:992px){
  .boton{
     margin-bottom: 41px ;
 } 
 
 
 }